<article class="post">
  <div class="title figure">
    <img src="{{img_url}}" class="rounded img-fluid" target="_blank">
    <br>
    {{title}}
    <span>({{format_url img_url}})</span>
  </div>
  <div class="meta">
to {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}"></a>
  </div> --}}
</article>


